/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
edit-ori.blade.php
create-ori.blade.php
auth-bk.blade.php
sidebar-bk.blade.php
16_0_1591847774.png
